<h1><strong>Pirate: </strong></h1>
<%= @pirate[:name]%> <%= @pirate[:height]%> <%= @pirate[:weight]%>

<h2>Your first ship: </h2>
<%= @pirate[:ships][0][:name]%>
<%= @pirate[:ships][0][:type]%>
<%= @pirate[:ships][0][:booty]%>

<h2>Your second ship: </h2>
<%= @pirate[:ships][1][:name]%>
<%=@pirate[:ships][1][:type]%>
<%= @pirate[:ships][1][:booty]%>
